<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Snappet</title>

    <!-- Bootstrap -->
    <link href="../Scripts/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../Scripts/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="../Scripts/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../Scripts/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">

    <link href="../Content/custom.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../Scripts/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- Chart.js -->
    <script src="../Scripts/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- Flot -->
    <script src="../Scripts/vendors/Flot/jquery.flot.js"></script>
    <script src="../Scripts/vendors/Flot/jquery.flot.time.js"></script>
    <!-- Flot plugins -->
    <script src="../Scripts/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <!-- Datatables -->
    <script src="../Scripts/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../Scripts/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="../Scripts/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../Scripts/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="../Scripts/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="../Scripts/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../Scripts/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../Scripts/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>

    <script src="~/Scripts/Index.js"></script>

</head>
<body>
    <div class="container body-content" style="padding: 30px">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
