@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    John Salib<br />
    <br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:john.aziz57@gmail.com">john.aziz57@gmail.com</a><br />
</address>
