.app-root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;

  .app-root {
    &_header {
      flex: 0 0 auto;

      &_title {
        padding-right: 16px;
      }
    }

    &_body {
      flex: 1 1 auto;
      position: relative;
      overflow-x: hidden;
      overflow-y: scroll;
    }
  }
}
