@model SnappetWorkApp.Models.Subject

@{
    ViewData["Title"] = "Subject Details";
}

<h3>Subject Detail: @Model.Name</h3>

<p>List of Domains</p>

<table class="table">
    <thead>
        <tr>
            <th>Domain</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var domain in Model.Domains) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => domain.Name)
            </td>
            <td>
                <a asp-controller="Domains"
                    asp-action="Details" 
                    asp-route-studentId="@Model.Name" 
                    asp-route-subjectName="@Model.Name" 
                    asp-route-domainName="domain.Name">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>