@{
    ViewData["Title"] = "Snappet Challenge";
}

<h1>@ViewData["Title"]</h1>

<h3>Filter (multiselect):</h3>

From:
<input  type="datetime-local" data-bind="value: fromDateTime" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}">

To:
<input  type="datetime-local" data-bind="value: toDateTime" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}">

Users:
<select data-bind="options: allUserIds, selectedOptions: selectedUserIds" size="10" multiple="true"></select>

Correct marks:
<select data-bind="options: allCorrects, selectedOptions: selectedCorrects" size="10" multiple="true"></select>

Domains:
<select data-bind="options: allDomains, selectedOptions: selectedDomains" size="10" multiple="true"></select>

<h2>Your class data</h2>
<div data-bind='simpleGrid: gridViewModel'> </div>
<div>

    <button data-bind='click: sortBy("progress")'>
        Sort by progress
    </button>

</div>
<small>500 first records are shown according to filters set</small>


