{
  "root": true,
  "parser": "@babel/eslint-parser",
  "extends": [
    "warp/es6",
    "warp/node",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "overrides": [
    {
      "files": [
        "src/client/**/*.js"
      ],
      "extends": [
        "warp/jsx",
        "warp/es6"
      ],
      "env": {
        "browser": true
      },
      "plugins": [
        "react-hooks"
      ],
      "rules": {
        "react/display-name": "off"
      }
    },
    {
      "extends": [
        "warp/module",
        "warp/es6"
      ],
      "files": [
        "src/server/**/*.js",
        "src/model/**/*.js",
        "src/data/**/*.js",
        "*.js"
      ],
      "globals": {
        "require": true
      }
    },
    {
      "files": [
        "**/*.test.js",
        "**/__tests__/*.js",
        "**/__mocks__/*.js"
      ],
      "plugins": [
        "jest"
      ],
      "rules": {
        "atomic-design/hierarchical-import": "off",
        "max-nested-callbacks": "off"
      },
      "env": {
        "jest/globals": true
      }
    }
  ]
}
