<div class="row">
    <div class="col-md-12">
        <p class="titleText">
            Werk gedaan door klas {{classId}}<br/> {{data.timestamp}}
        </p>
    </div>
    <div></div>
</div>

<div *ngFor="let pupil of data.pupilSummaries">
    <div class="row">
        <div class="col-md-12">
            <p class="pupilName">Leerling: {{pupil.userId}}</p>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 ">
            <div class="table-responsive " style="margin-left: 3em; ">
                <table class="table table-striped ">
                    <thead>
                        <th>Leerdoel</th>
                        <th class="text-right"># Antwoorden</th>
                        <th class="text-right">Max niveau</th>
                        <th class="text-right">% Correct</th>
                        <th class="text-right">Voortgang</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let losummary of pupil.learningObjectiveSummaries">
                            <td>
                                {{losummary.subject}}; leerdoel: {{losummary.learningObjective}}
                            </td>
                            <td class="text-right">
                                {{losummary.numberOfAnswers}}
                            </td>
                            <td class="text-right">
                                {{losummary.maxDifficulty | number:'1.0-0'}}
                            </td>
                            <td class="text-right">
                                {{losummary.correctPercentage * 100 | number:'1.0-0'}} %
                            </td>
                            <td class="text-right">
                                {{losummary.totalProgress}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>