<div class="login-page">
  <div class="form">
    <form class="login-form" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <md-input-container class="full">
          <input mdInput type="Password" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required>
        </md-input-container>
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirm.valid }">
        <md-input-container class="full">
          <input mdInput type="Password" placeholder="Confirm Password" name="confirm" [(ngModel)]="model.confirm" #confirm="ngModel" required>
        </md-input-container>
        <div *ngIf="f.submitted && !password.valid" class="help-block">Confirmation is required</div>
      </div>
      <p class="text-alert" *ngIf="model.password !== model.confirm && model.confirm.length > 0" >Password doesnt match</p>
      <p class="text-alert">{{erro | async}}</p>
      <div class="form-group">
        <button [disabled]="(IsBusy | async) || model.password !== model.confirm" class="btn btn-primary">
          <ng-container *ngIf="!(IsBusy | async)">
            Change and sign in 
          </ng-container>
          <ng-container *ngIf="(IsBusy | async)">
            <md-spinner class="text-center spinner-white" style="width: inherit; height: 30px;"></md-spinner>
          </ng-container>
        </button>
      </div>
    </form>
  </div>
</div>