@{
    ViewBag.Title = "Contact";
}
<h2>Maksym Strukov</h2>
<address>
    <strong>Email:</strong>   <a href="mailto:maksym.strukov@gmail.com">maksym.strukov@gmail.com</a><br />
    <strong>Public profiles:</strong> <a href="https://www.linkedin.com/in/maksym-strukov-349a3b1b/" target="_blank" >LinkedIn</a>&nbsp;<a href="https://stackoverflow.com/users/1916386/maksym-strukov" target="_blank">Stackoverflow</a>
</address>