<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Snappet Reporting</title>
        <base href="/" />
        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
        <link rel="shortcut icon" href="https://nl.snappet.org/wp-content/themes/snappet/images/logotablet.png" type="image/x-icon" />
        <script src="~/dist/Chart.min.js"></script>
        <link rel="stylesheet" href="https://nl.snappet.org/wp-content/themes/snappet/style.css">
        <link rel="stylesheet" href="https://nl.snappet.org/wp-content/themes/snappet/fonts/fonts.css">
    </head>
    <body>
        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
