.cdk-global-overlay-wrapper {
  overflow-y: scroll;      
}

.teaching-overview-date-range .mat-form-field {
    margin-right: 15px;
}

.teaching-overview-datatable-row-detail {
  padding-left: 10px; 
  font-size: 14px
}