<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="Nicollas.info.log" layout="${date:format=yyyyMMddHHmmss} ${message}"/>
    <target name="logfileDebug" xsi:type="File" fileName="Nicollas.debug.log" layout="${date:format=yyyyMMddHHmmss} ${message}"/>
    <target name="logfileError" xsi:type="File" fileName="Nicollas.error.log" layout="${date:format=yyyyMMddHHmmss} ${message}"/>
    <target name="traceAzure" xsi:type="Trace" layout="${logger} ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" levels="Info,Warn" writeTo="logfile" />
    <logger name="*" levels="Debug,Trace" writeTo="logfileDebug" />
    <logger name="*" levels="Error,Fatal" writeTo="logfileError" />
    <logger name="*" minlevel="Trace" writeTo="traceAzure" />
  </rules>
</nlog>
