h1, h2, h3, h4 { font-weight: bold; }
h1 { font-size: 1.35rem; }
h2 { font-size: 1.15rem; }

.text-blue { color: $blue; }
.text-yellow { color: $yellow; }
.text-magenta { color: $magenta; }
.text-orange { color: $orange; }

.text-center { text-align: center; }
