<div class="container">
  <h1>Classroom Dashboard</h1>
  <p>It should be running</p>
  <p>
    Challenge for Full-stack developer position @ Snappet done by
    <a href="https://www.linkedin.com/in/caiodellalibera">Caio Della Libera</a>
    <br>
    <a href="https://github.com/dlcaio/SnappetChallenge">Github repo</a>
  </p>
  
  <p class="loading-message" [style.display]="loading ? 'block' : 'none'">
    Loading {{ dateChoices[0] }}'s answers
  </p>
  <div class="content" [style.display]="loading ? 'none' : 'block'">
    <select class="choice-select" (change)="onChange()">
      <option *ngFor="let choice of dateChoices">
        View {{ choice }}'s answers
      </option>
    </select>
    <ul *ngFor="let student of Object.keys(dataSource)">
      <li>
        <a class="student-link" href="#" (click)="toggleAnswers(student)">
          Student {{ student }} worked on the following exercises
          {{ dateChoices[0] }}:
        </a>
        <ul *ngIf="showAnswers[student]">
          <li
            *ngFor="
              let objective of Object.keys(dataSource[student]);
              let i = index
            "
          >
            {{ objective }}
            <ul>
              <li
                class="answer-item"
                [style.color]="answer.Correct === 1 ? 'green' : 'red'"
                *ngFor="
                  let answer of dataSource[student][objective];
                  let i = index
                "
              >
                Exercise: {{ answer.ExerciseId }}; Difficulty:
                {{ answer.Difficulty }}; Progress: {{ answer.Progress }}
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
