<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="UserId">
    <th mat-header-cell *matHeaderCellDef>User</th>
    <td mat-cell *matCellDef="let element"> {{element.UserId}} </td>
  </ng-container>

  <ng-container matColumnDef="Domain">
    <th mat-header-cell *matHeaderCellDef>Domain</th>
    <td mat-cell *matCellDef="let element"> {{element.Domain}} </td>
  </ng-container>

  <ng-container matColumnDef="Subject">
    <th mat-header-cell *matHeaderCellDef>Subject</th>
    <td mat-cell *matCellDef="let element"> {{element.Subject}} </td>
  </ng-container>

  <ng-container matColumnDef="ExerciseId">
    <th mat-header-cell *matHeaderCellDef>Exercise</th>
    <td mat-cell *matCellDef="let element"> {{element.ExerciseId}} </td>
  </ng-container>

  <ng-container matColumnDef="LearningObjective">
    <th mat-header-cell *matHeaderCellDef>Learning objective</th>
    <td mat-cell *matCellDef="let element"> {{element.LearningObjective}} </td>
  </ng-container>

  <ng-container matColumnDef="Difficulty">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Difficulty</th>
    <td mat-cell *matCellDef="let element"> {{element.Difficulty}} </td>
  </ng-container>

  <ng-container matColumnDef="SubmittedAnswerId">
    <th mat-header-cell *matHeaderCellDef>Submitted answer</th>
    <td mat-cell *matCellDef="let element"> {{element.SubmittedAnswerId}} </td>
  </ng-container>

  <ng-container matColumnDef="Correct">
    <th mat-header-cell *matHeaderCellDef>Correct</th>
    <td mat-cell *matCellDef="let element"> {{element.Correct === 0 ? 'No' : 'Yes'}} </td>
  </ng-container>

  <ng-container matColumnDef="SubmitDateTime">
    <th mat-header-cell *matHeaderCellDef>Submit time</th>
    <td mat-cell *matCellDef="let element"> {{element.SubmitDateTime | date:'medium'}} </td>
  </ng-container>

  <ng-container matColumnDef="Progress">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Progress</th>
    <td mat-cell *matCellDef="let element"> {{element.Progress}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
