@model object

@{
    Layout = "_Layout";
}

<h1 class="display-4">Snappet Challenge</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--ko foreach: registredCatalogs-->
            <li class="nav-item" data-bind="css: {active: catalogName === $parent.activeCatalogName()}">
                <a class="nav-link" data-bind="attr: {href: defaultRoute}, text: title"></a>
            </li>
            <!--/ko-->
        </ul>
    </div>
</nav>
<!--ko if: form-->
<!--ko template: form--><!--/ko-->
<!--/ko-->

@Html.Partial("../Common/Progress")
@Html.Partial("../Common/UserCard")
@Html.Partial("../ClassWork/LearningObjectives")

@section scripts
{
    <script src="~/bundles/catalogs.js"></script>
    <script src="~/bundles/models.js"></script>
    <script src="~/bundles/services.js"></script>
    <script src="~/bundles/common.js"></script>
    <script src="~/bundles/classWork.js"></script>
    <script src="~/bundles/root.js"></script>
}
