<div class="filters">
	<div class="filter">
		<label>{{'Domain' | lookup}}:</label>
		<select
			ng-model="filters.Domain"
			ng-change="filter('Domain', filters.Domain)">
			<option value="">All</option>
			<option ng-repeat="value in data.Domain" value="{{value}}">
				{{value}}
			</option>
		</select>
	</div>

	<div class="filter">
		<label>{{'Subject' | lookup}}:</label>
		<select
			ng-model="filters.Subject"
			ng-change="filter('Subject', filters.Subject)">
			<option value="">All</option>
			<option ng-repeat="value in data.Subject" value="{{value}}">
				{{value}}
			</option>
		</select>
	</div>

	<div class="filter">
		<label>{{'LearningObjective' | lookup}}:</label>
		<select
			ng-model="filters.LearningObjective"
			ng-change="filter('LearningObjective', filters.LearningObjective)">
			<option value="">All</option>
			<option ng-repeat="value in data.LearningObjective" value="{{value}}">
				{{value}}
			</option>
		</select>
	</div>

	<div class="filter range date">
		<label>{{'SubmitDateTime' | lookup}}:</label>
		<input
			type="text"
			placeholder="From"
			ng-model="filters.SubmitDateTime__gte"
			ng-change="filter('SubmitDateTime__gte', filters.SubmitDateTime__gte)"
			ng-model-options="{updateOn: 'change'}"
			date-picker
		/><input
			type="text"
			placeholder="To"
			ng-model="filters.SubmitDateTime__lte"
			ng-change="filter('SubmitDateTime__lte', filters.SubmitDateTime__lte)"
			ng-model-options="{updateOn: 'change'}"
			date-picker />
	</div>

	<input type="button" value="✕" ng-click="reset()">
</div>
