<h1>{{ question.id }}</h1>
<ul>
    <li>Submitted Time = {{ question.submitdatetime }}</li>
    <li>User ID = {{ question.userid }}</li>
    <li>Correct = {{ question.correct }}</li>
    <li>Progress = {{ question.progress }}</li>
    <li>Exercise ID = {{ question.exerciseid }} </li>
    <li>Difficulty = {{ question.difficulty }}</li>
    <li>Subject = {{ question.subject }}</li>
    <li>Domain = {{ question.domain }}</li>
    <li>Learning Objective = {{ question.learningobjective }} </li>
</ul>
<a href="/work/">Back to index</a>