{% if latest_question_list %}
    <h2>{{ start_time }}</h2>
    <table style="width:100%">
    <tr>
        <td>ID</td>
        <td>Date and Time</td>
        <td>Correct</td>
        <td>Progress</td>
        <td>User ID</td>
    </tr>
    {% for question in latest_question_list %}
        <tr>
        <td><a href="{% url 'detail' question.id %}">{{ question.id }}</a></td>
        <td>{{ question.submitdatetime }}</td> 
        <td>{{ question.correct }}</td>
        <td>{{ question.progress }}</td>
        <td>{{ question.userid }}</td>
        </tr>
    {% endfor %}
    </table>

{% else %}
    <p>No data are available.</p>
{% endif %}