<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="Snappet.NServiceBus.SqlTransport-FCVXPS" connectionString="Data Source=.;Initial Catalog=SnappetTransport;Integrated Security=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
  <add name="Snappet.Endpoint.DataGenerator-FCVXPS" connectionString="Data Source=.;Initial Catalog=SnappetDataGenerator;Integrated Security=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
  <add name="Snappet.Endpoint.DataRecorder-FCVXPS" connectionString="Data Source=.;Initial Catalog=SnappetDataRecorder;Integrated Security=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
  <add name="Snappet.Endpoint.TopStudents-FCVXPS" connectionString="Data Source=.;Initial Catalog=SnappetTopStudents;Integrated Security=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
  <add name="Snappet.Endpoint.TopStudentsWeb-FCVXPS" connectionString="Data Source=.;Initial Catalog=SnappetTopStudentsWeb;Integrated Security=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />

  <add name="Snappet.NServiceBus.SqlTransport-MACHINENAME" connectionString="Data Source=.;Initial Catalog=SnappetTransport;Integrated Security=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
  <add name="Snappet.Endpoint.DataGenerator-MACHINENAME" connectionString="Data Source=.;Initial Catalog=SnappetDataGenerator;Integrated Security=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
  <add name="Snappet.Endpoint.DataRecorder-MACHINENAME" connectionString="Data Source=.;Initial Catalog=SnappetDataRecorder;Integrated Security=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
  <add name="Snappet.Endpoint.TopStudents-MACHINENAME" connectionString="Data Source=.;Initial Catalog=SnappetTopStudents;Integrated Security=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
  <add name="Snappet.Endpoint.TopStudentsWeb-MACHINENAME" connectionString="Data Source=.;Initial Catalog=SnappetTopStudentsWeb;Integrated Security=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
</connectionStrings>
