$small-range: 34rem; /* 544px */
$medium-range: 49.13rem; /* 789px */
$large-range: 80rem; /* 1280 px */

$body-bg: #F2F5F7;
$color: #010102;

$header-bg: #34A3D7;
$header-color: #FFFFFF;
$header-height: 9.5rem;
$header-overlap: 2.5rem;

$title-font-size: 1.875rem;
$title-color: #FFFFFF;

$main-margin: 0.9375rem;

$columns: 12;

$container-border-radius: 0.3125rem;
$container-bg: #FFFFFF;
$container-padding: 1.563rem;

$table-border: #ddd;

$dt-width: 10rem;

$color-success: #9DCD1C;
$color-danger: #C61717;
$color-default:#C2C2C2;