<div class="list-subject-groups"
     *ngIf="groups">

  <mat-tab-group (selectedTabChange)="expandedPanel = -1">
    <mat-tab [label]="item.subject"
             *ngFor="let item of groups">
      <div class="list-subject-groups_container">
        <div class="list-subject-groups_container_chart">
          <app-graph-objectives [objectives]="item.objectives"
                                (onSelect)="onSelect($event, item)"></app-graph-objectives>
        </div>

        <div class="list-subject-groups_container_list">
          <mat-accordion>
            <mat-expansion-panel hideToggle
                                 *ngFor="let objective of item.objectives; let i = index"
                                 [expanded]="expandedPanel === i"
                                 (opened)="this.expandPanel(i)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{objective.objective}}
                </mat-panel-title>
                <mat-panel-description>
                  Antwoorden: {{objective.answerCount}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <app-list-excercises [excercises]="objective.excercises"></app-list-excercises>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
