<div class="page users-page">
  <app-overlay-loading [show]="loading"></app-overlay-loading>

  <mat-radio-group class="radio-group"
                   [(ngModel)]="student">
    <mat-radio-button class="radio-button"
                      *ngFor="let student of students | async"
                      [value]="student">
      {{student.id}}
    </mat-radio-button>
  </mat-radio-group>

  <mat-divider></mat-divider>

  <app-summary-student *ngIf="student"
                       [student]="student"></app-summary-student>
</div>
