@model IEnumerable<Snappet.Challenge.Web.ViewModels.UserViewModel>

<div>
    <h3>Users</h3>
   
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }

    </table>

</div>