@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <h1 class="text-center">Students</h1>
        <hr />
        <ul class="nav nav-sidebar">
            <li class="active"><a href="~/Home/Index"><i class="fa fa-child" aria-hidden="false"></i> all students</a></li>
            @foreach (var x in ViewBag.classClass.Students)
            {
                <li><a href="~/Home/Index/@x.Id"><i class="fa fa-child" aria-hidden="false"></i> @x.Name @x.Surname</a></li>
            }
        </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1>Welcome @ViewBag.classClass.TeacherName</h1>
    </div>
</div>