<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/bundles/bootstrap-bundle.min.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/bundles/jquery.min.js"></script>
    <script src="~/bundles/bootstrap.min.js"></script>
</body>
</html>
