<?xml version="1.0"?>
<configuration>

  <system.web>
    <customErrors mode="Off"/>
    <compilation batch="false" debug="true" targetFramework="4.5.1" />
    <!--<pages controlRenderingCompatibilityVersion="4.0" validateRequest="false"/>
    <httpRuntime executionTimeout="999" maxRequestLength="2097151" targetFramework="4.5.1" requestValidationMode="2.0" requestPathInvalidCharacters="%"/>
  -->
  </system.web>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <!--<standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint crossDomainScriptAccessEnabled="true"/>
      </webScriptEndpoint>
    </standardEndpoints>-->
    <bindings>

      <webHttpBinding>
        <!--<binding name="WHB" crossDomainScriptAccessEnabled="true" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None"/>
        </binding>-->

        <binding name="webHttpBindingJsonP" crossDomainScriptAccessEnabled="true" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None"/>
        </binding>
      </webHttpBinding>

    </bindings>


    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <dataContractSerializer ignoreExtensionDataObject="true" maxItemsInObjectGraph="2147483646"/>
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="200" maxConcurrentInstances="200"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restBehavior">
          <dataContractSerializer ignoreExtensionDataObject="true" maxItemsInObjectGraph="2147483646"/>
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <services>
      <service name="sc2.Service1" behaviorConfiguration="MyBehavior">
        <endpoint address="mex"       binding="mexHttpBinding"  contract="sc2.IService1" />
        <endpoint address=""          binding="webHttpBinding"  contract="sc2.IService1" bindingConfiguration="webHttpBindingJsonP" behaviorConfiguration="restBehavior"/>

      </service>
    </services>

  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
   <!-- <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security> -->
  </system.webServer>

</configuration>



