<div class="page">
    <h1> Student Reports: </h1>

    <article>
        <mat-card>
            <mat-card-title>Subjects:</mat-card-title>
            <mat-card-content>
                <mat-list role="list">
                    <ng-container *ngFor="let subject of subjectsAverages">
                        <mat-list-item role="listitem">
                            <div class="separate">
                                <span>
                                    {{ subject.Subject }}
                                </span>
                                <span>
                                    Average Subject Difficulty:
                                </span>
                                <span>
                                    {{ subject.Average }}
                                </span>
                            </div>
                        </mat-list-item>
                    </ng-container>
                </mat-list>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title>Day Breakdown:</mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="fill">
                    <mat-label>Select Date</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let date of dates" [value]="date" (click)="getDayBreakdown(date)">
                        {{ date }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>

                <ng-container *ngIf="dayBreakdown">
                    <mat-list role="list">
                        <ng-container *ngFor="let dayBreakdown of dayBreakdown">
                            <mat-list-item role="listitem">
                                <div class="separate">
                                    <span>
                                        {{ dayBreakdown.Subject }}
                                    </span>
                                    <span class="percentage-center">
                                        {{ dayBreakdown.Average }}%
                                    </span>
                                </div>
                            </mat-list-item>
                        </ng-container>
                    </mat-list>
                </ng-container>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title>Student Averages:</mat-card-title>
            <mat-card-content>
                <mat-list role="list">
                    <ng-container *ngFor="let students of studentAverages">
                        <mat-list-item role="listitem">
                            <div class="separate">
                                <span>
                                    Student ID:
                                </span>
                                <span>
                                    {{ students.UserId }}
                                </span>
                                <span>
                                    Student Average:
                                </span>
                                <span>
                                    {{ students.Average }}
                                </span>
                            </div>
                        </mat-list-item>
                    </ng-container>
                </mat-list>
            </mat-card-content>
        </mat-card>

    </article>
</div>
