div.page {
    h1 {
        text-align: center;
    }

    article {
        width: 80%;
        margin: 0 auto;

        mat-card {
            margin-bottom: 2rem;
        }

        mat-card:last-child {
            margin-bottom: 0;
        }

        mat-list-item {
            border-bottom: 1px dotted lightgrey;
        }

        mat-list-item:last-child {
            border-bottom: none;
        }

        mat-list-item:nth-child(odd) {
            background-color: #f2f2f2;
        }

        .separate {
            display: flex;
            justify-content: space-between;
            width: 100%;

            span {
                width: 100%;
            }
        }
    }
}