div.page {
    h1 {
        text-align: center;
    }

    article {
        width: 80%;
        margin: 0 auto;

        div.divider{
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;

            div {
                width: 48%;

                mat-list-item {
                    border-bottom: 1px dotted lightgrey;
                }

                mat-list-item:last-child {
                    border-bottom: none;
                }

                .separate {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    span {
                        width: 30%;
                    }
                }
            }
        }
    }
}