<div>
  <p>Viewing classroom grouped by {{aggregations[0]}}</p>
  <button (click)="setAggregation(b)" *ngFor="let b of [aggregations[1]]">Group by {{b}}</button>
  <ul>
    <li *ngFor="let s of students | keyvalue">
      {{ aggregations[0] }} {{ s.key }}
      <ul>
        <li *ngFor="let ss of students[s.key]">
          {{ aggregations[1] }} {{ ss[prop] }}
          <ul>
            <li *ngFor="let sss of ss | keyvalue">
              {{ sss.key }} {{sss.value}}
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
