<script type="text/html" id="classWork">
    <div class="row">
        <div class="col-11">
            <h3>Class work on <!--ko text: formattedDate--><!--/ko--></h3>
            <div class="learning-objectives-list">
                <!--ko foreach: learningObjectives-->
                <div class="learning-objective">
                    <div class="header" data-bind="click: toggle">
                        <div class="progress-block">
                            <div>Daily progress</div>
                            <!--ko template: {name: 'progressComponent', data: averageProgress}--><!--/ko-->
                        </div>
                        <div class="title">
                            <a href="#" data-bind="text: name"></a>
                        </div>
                        <div class="status-bar">
                            <!--ko text: domain--><!--/ko--> |
                            <!--ko text: subject--><!--/ko--> |
                            Participants: <!--ko text: users().length--><!--/ko-->
                        </div>
                    </div>
                    <div class="collapse" data-bind="css: {show: expanded}">
                        <div class="learning-objective-users">
                            <!--ko foreach: users-->
                            <div class="float-left m-3">
                                <!--ko template: {name: 'userCard', data: userCardData}--><!--/ko-->
                            </div>
                            <!--/ko-->
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!--/ko-->
            </div>
        </div>
        <div class="col-1">
            <div data-bind="inlineDatepicker: date"></div>
        </div>
    </div>
</script>