<div>
  <mat-toolbar color="primary">
    <span>
      <mat-icon>mood</mat-icon>
    </span>

    <span> Snappet Challenge</span>


  </mat-toolbar>

  <div class="bounds">

    <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

      <div fxFlex="100" class="sec1">
        <mat-card style="padding: 0">
          <app-datatable></app-datatable>
        </mat-card>
      </div>
      <div fxFlex="0" class="sec2">
        <mat-card style="padding: 0">
        </mat-card>
      </div>

    </div>

  </div>

</div>
