@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Your class performance</h2>
        <div data-report-api="/api/v1/Report/" class="js-main-app"></div>

    </div>
</div>