@model IEnumerable<Snappet2.ViewModel.UserResultViewModel>

@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Correct)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.UserId + "", "Index", "User", new { id = item.UserId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correct)
            </td>
        </tr>
}
    </tbody>
</table>
