.page.package {
    div.statistieken i.fa {
        color: $snpt-red;
        font-size: 140pt;
        margin-right: 30px;

        @media (max-width: $screen-sm) {
            font-size: 80pt;
        }
    }
}